<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>welcome to <i class="fa-regular fa-handshake-angle"></i></br>
      <strong>Travel Assistance</strong>  !!</h1>

      </br>
      <p>Travel Assistance（TA）は、</p>
      <p>旅行先のプチ情報を検索、投稿できるサイトとなっております。</p>
      <p>メインの観光地、レストラン、特産品から、コンビニ、駐車場、</p>
      <p>コインランドリー等、様々な情報を投稿し、皆に共有しよう！</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          </br>
          <%= link_to '新規登録',new_customer_registration_path, class: "btn btn-outline-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'ログイン',new_customer_session_path, class: "btn btn-outline-success btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>